<h2>Index page living in views portfolios </h2>


<!-- Below is equivalent to: <a href="portfolios/new">Create a new portfolio</a>.  -->
<%=link_to "Create a new portfolio", new_portfolio_path %>
<!-- if you want to specify a subdomain, use new_portfolio_url instead. It translates to the FULL path: https://localhost:3000/portfolios/new -->
<%#=link_to "Create a new portfolio", new_portfolio_url, subdomain: 'my_subdomain' %>

<hr>
<% @portfolios.each do |eachPortfolio| %>
  <p><%= eachPortfolio.title %>&nbsp<%= link_to "Edit", edit_portfolio_path(eachPortfolio.id) %></p>
                                    <!-- Equivalent to <a href="portfolios/<%= eachPortfolio.id%>/edit">EDIT 2</a> -->
  <p><%= eachPortfolio.subtitle %></p>
  <p><%= eachPortfolio.body %></p>
  <p><%= image_tag eachPortfolio.thumb_image if !eachPortfolio.thumb_image.nil? %></p>  <!-- image_tag is a helper method in ActionView that substitutes <img src= >. If NOT nil, show the image>-->
  <hr>
<% end %>
