<h1>See portfolio</h1>

<p><%= image_tag @portfolio.image if !@portfolio.image.nil? %></p>    <!-- Show image if available (not nil) -->
<h2><%= @portfolio.title %></h2>
<em><%= @portfolio.subtitle %></em>
<p><%= @portfolio.body %></p>

<h2> Frequently used technologies </h2>

<% @portfolio.technologies.each do |tech| %>
<p><%= tech.name %></p>
<% end %>
