<!-- ASH: Adding NAVIGATION LINKS that I need shown across ALL pages -->
<hr>
<div>
  <%= link_to "Home", pages_home_path %>&nbsp;
  <%= link_to "About", pages_about_path %>&nbsp;
  <%= link_to "Contact", pages_contact_path %>&nbsp;
  <%= link_to "Blogs", blogs_path %>&nbsp;
  <%= link_to "Portfolios", portfolios_path %>
</div>
