<!-- ASH: This is an exclusive layout for views associated with the BlogsController. For now, it's copy pasta of master layout application.html.erb with minor changes-->
<!DOCTYPE html>
<html>
  <head>
    <!-- ASH: Setting title via instance variable @page_title declared in controller instead. <title>DevcampPortfolio | My Portfolio Website</title> -->
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- ASH added. @seo_keywords is set in default_page_content s.rb -->
    <META name="keywords" content="<%= @seo_keywords%>" />

      <!-- ASH: layout needed to be associated to the related stylesheet for styles to apply -->
    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  From layout blog.html.erb
  <p>This line and links (home about contact logout register login) and any notices will show across every view</p>

    <!-- ASH: Adding the notice and alert for flash messages, based on instructions of rails generate devise:install (an authentication gem)-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- ASH: Adding NAVIGATION LINKS that I need shown across ALL pages. <!-- ASH: Adding NAVIGATION LINKS that I need shown across ALL pages. Code stored in partial /shared/_nav.html.erb -->
    <%= render "shared/nav" %>

    <!-- Show the logout button ONLY IF the user has signed in. No point showing logout after they have logged out -->
    <!-- <=% if current_user %> -->
    <!-- We are ALWAYS going to have a current_user after refactor. See overriding current_user method defined in controller concern for details -->
    <!-- So, show logout button IF the user is logged in (current_user is of type User i.e, belongs to User model) else don't show (i.e, current_user belongs to OpenStruct) -->
    <hr>
    <% if current_user.is_a?(User) %>
      <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <!-- ELSE show them links to sign-in or register -->
    <% else %>
     <p><%= link_to "Register", new_user_registration_path %><br></p>
     <p><%= link_to "Login", new_user_session_path %></p>
    <% end %>

    <!-- session[:source] is defined in application_controller.rb -->
    <% if session[:source] %>
      <p>Session tracker says: Thanks for visiting me from <%= session[:source] %></p>
    <% end %>
    <hr>

    <!-- ASH: the yield was existing and this is ESSENTIAL. The reason and the point where dynamic content start (specific views are yielded) -->
    <! IF controllers have declared their OWN layouts, then the master layout itself will be overridden by their exclusive layouts on related views -->
    <%= yield %>
  </body>
</html>
